.other .weui_cell_hd{margin-right:10px;font-family: "saas"; color:#666;}
.feedback{background:#fbf9fe}
.feedback .weui_textarea{min-height: 300px;}
.feedback .limit{padding:0 10px;line-height: 40px; text-align: right; color:#999;}
.feedback .contact{margin-top:20px;color: #999;text-align: center;}
.feedback .contact > a{color:#999;}


.sass-filter .filter-bar{position: fixed;left: 0; top: 0;width: 100%; height: 50px; line-height: 50px;white-space: nowrap; display: -webkit-box;display: -webkit-flex;display: flex;text-align: center;z-index:1;background: #fafafa;}
.sass-filter .filter-bar > span{position: relative;width:50%; text-align: center;-webkit-box-flex: 1;-webkit-flex: 1;flex: 1 }

.sass-filter .filter-bar > span:after{margin-left:5px;content:"\4e0b"; font-family: "saas"; color:#ccc; font-size:20px; vertical-align:middle;}
.sass-filter .filter-bar > span:last-of-type:before{position: absolute;left:0;content: "";width:1;height: 100%;z-index: -1;border-left: 1px solid #ccc;color: #ccc;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleX(.5);transform: scaleX(.5)}
.sass-filter .weui_media_desc > span{float: right;}
.sass-filter .weui_panel{margin-top:81px;}

.sass-filter .notice{position: fixed;left:0;top:50px;padding:0 10px;width:100%;height:32px; line-height:32px; font-size: 14px; color:#666;text-align:center;overflow: hidden; box-sizing: border-box;background: #eaeaea;z-index: 1}
.sass-filter .notice .weui_icon_info_circle{float: right;}
.is-end{padding-bottom: 50px; text-align: center; }
