.countBox{
    height: 100%;
    overflow: hidden;
    .BoxC{
        height: 100%;
        overflow: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px 10px;
    }
    .weui_cells{border-radius: 6px;}
    .user-title{
        padding-top:20px;
        text-align: center;
        font-size: 30px; color: #3cc51f;font-weight: 300;
    }
    .button_sp_area{
        text-align:center;
        padding-top: 20px;
        button{
            width: 28%;
            display: inline-block;
            background: #fff;
            text-align: center;
            margin-left: 8%;
        }
        button:first-child{margin: 0;}
        .actv{
            color: #3cc51f;
        }
        .weui_btn:after{

        }
    }
    
    .charts-list li {
        margin-top: 20px;
        float: left;
        min-width: 50px;
        width: 50%;
        min-height: 140px;
        text-align: center;
        div{margin:0 auto;}
    }
    .chart{
        min-height: 300px;
        min-width: 100px;
        width: 100%;
        height: auto;
        padding-top: 10px;
    }
    .weui_cells_title{
        text-align: center;
        margin:10px 0;
        position: relative;
        i{
            position: absolute;
            right: 0;
        }
    }
    .contMesBox{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
        box-sizing:border-box;
        padding:15px;
        background: #f7f7fa;
        overflow: hidden;
        overflow-y:scroll; 
        .closD{
            text-align: center;
            font-size: 18px;
            color: #3cc51f;
            line-height: 60px;
        }
        .tables{
            width:100%;
            height: auto;
            background: #fff;
            border-radius: 6px;
            ul{width: 100%; height: 40px;border-top: 1px solid #ccc;}
            .titles{
                background: #E5E5E5;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                border-top: 0;
            }
            li{height: 40px;line-height: 40px;text-align: center;float: left;border-left: 1px solid #ccc;}
            .dates{width: 30%;border:0;}
            .adds{width: 20%;}
            .oks{width: 20%;}
            .nos{width: 20%;}
            .dels{width: 10%;}
        }
    }
}

