@font-face {
  font-family: "saas";
  src: url('//at.alicdn.com/t/font_1470132957_2135024.woff') format('woff'),
  url('//at.alicdn.com/t/font_1470132957_2135024.ttf') format('truetype');
}

/* Tabbar */
.weui_tabbar .weui_tabbar_icon{font-family: "saas";text-align: center; font-size:22px; line-height: 24px; color:#888;}
.weui_tabbar .weui_bar_item_on .weui_tabbar_icon{color:#09bb07;}
.weui_tabbar .weui_tabbar_icon em:last-of-type{display: none}
.weui_tabbar .weui_bar_item_on .weui_tabbar_icon em:first-of-type{display: none;} 
.weui_tabbar .weui_bar_item_on .weui_tabbar_icon em:last-of-type{display: inline-block;}

.to-filter{position: fixed;right:30px; bottom: 150px; width: 54px; height: 54px; font-size: 14px; line-height: 54px; text-align: center; color:#fff; border-radius: 50%; box-shadow: 0 0 0 4px rgba(4,190,2,.2); background:#04be02;-webkit-transition: -webkit-transform .3s ease-out;transition: transform .3s ease-out;}
.to-filter:after{position: absolute;right:-6px;top:0px;width:8px; height:8px; border:1px solid #fff;border-radius: 50%;content:"";background:#f00}
.to-filter.hidden{-webkit-transform: translate3d(200px,0,0);transform: translate3d(200px,0,0);}


.sass-contents > .container{position: relative;width: 400%;overflow: hidden;}
.sass-contents{padding:49px 0 55px;overflow: hidden;}

.user-title{padding:1em 0;}
.user-title h3{text-align: center;font-size: 34px; color: #3cc51f;font-weight: 400;margin: 0 15%;}

.charts-list{padding-bottom: 20px}
.charts-list li{margin-top:20px;float: left; width: 50%; min-height: 140px; text-align: center;}
.chart{margin-top:10px;min-height: 250px;}
