.we_box{
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  -webkit-transform: translateZ(0);
}
.we_height_mt{margin-bottom: 10px;}
.we_height{
  padding:15px 15px 10px; 
  background: #fff;
  li{
    display: inline-block;
    width: 25%;
    height: 28px;
    line-height: 28px;
    text-align: right;
  }
  .we_list{
    width: 75%;
    text-align: left;
  }
  .we_wh{width: 50%;}
  .siz{
    font-size: 12px;
  }
  .paycol{
    color: #09bb07;
    font-size: 16px;
  }
  .we_allw{width: 100%; text-align: left;}
}

.weui_full{
  width: 100%;
  padding: 0 15px 20px;
  display: block;
  box-sizing:border-box;
  label{
    display: inline-block;
    width: 30%;
    height: 34px;
    margin:1.6%;
}
.fcell{
    display: inline-block;
    width: 100%;
    height: 34px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    color: #999;
    line-height: 32px;
    border: 1px solid #e5e5e5;
  }
  .weui_check:checked + .fcell{
    color: #09BB07;
    border-color: #09BB07;
  }
}
.we_txt_left{
  flex:1;
  font-size: 12px;
  color: #888;
}
.we_txt_right{
  width: 200px;
  font-size: 14px;
  color: #333;
  i{color: #09BB07;}
}
